body {
    font-family: Arial;
    margin: 0;
    background: #f4f8fb;
}

header {
    background: #0077b6;
    color: white;
    text-align: center;
    padding: 20px;
}

nav {
    background: #023e8a;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 20px;
}

footer {
    background: #0077b6;
    color: white;
    text-align: center;
    padding: 10px;
}
